.transactionHistory {
  width: 45%;
  border-collapse: collapse;
  margin: 20px auto;
  margin-top: 40px;
}

.transactionHistory th,
.transactionHistory td {
  padding: 10px;
  border: 2px solid black;
  text-align: center;
}

.transactionHistory tr:nth-child(even) {
  background-color: #d5d2d2;
}

.transactionHistory tr:hover {
  background-color: rgb(14, 14, 13);
  color: white;
}

